

     /* PRINCIPAL */
/* imports das fontes */
/* Titiluim web */
@font-face {
    font-family:titiliumweb-black;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}
@font-face {
    font-family:titiliumweb-regular;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: titiliumweb-bold;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}
/* inter */
    @font-face {
        font-family:inter;
        src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
    }

    /* quicksand*/
    @font-face {
        font-family:Quicksand;
        src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
    }
*{
    margin: 0;
    padding: 0%;
   box-sizing: border-box;
}

body{
    background-color: #fff;
    color: #ffff;
}
/* classes genericas */
.layout-grid{
    width: 92%;
    margin: auto;
}

/* MOBILE FIRST */
/* header */
header {
    height: 60px;
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 20;
    width: 100vw;
    height: 60px;
    background-color: #1B1426;
}

/* header top */

header .header-top {
    display: none;
}

/* header Bottom */
/* justify+align items */
.alinhamento-between-centro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

header .header-bottom {
    height: 100%;
}

header .header-bottom img.logo{
    width: 86px;
}

/* funcao javascript */
.mostrar-menu{
    left: 0 !important;
}


header .header-bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    width: 80vw;
    height: calc(100vh - 60px);
    padding-bottom: 20px;
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    transition: 0.4s;
}


/* somente links "filhos diretos" */
header .header-bottom nav > a {
    padding: 30px 0;
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid #F9AA01; 
}

header .header-bottom nav>a:hover{
    background-color: #F9AA01;
}

/* menu lateral direito- icones */
header .header-bottom .menu-usuarios{
    position: fixed;
    right: -20vw;  
    width: 20vw;
    height: 170px;;
    padding: 0%;
    top: 60px;
    
   

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;

   background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
   backdrop-filter: blur(45px);
   border: white;

   transition: 0.4s;
}

/* funcao javascript */
.menu-user{
    right: 0 !important;
}

/* gap midias socias */
.midias-sociais{
    display: flex;
    justify-content: center;
    gap: 50px;
}


 header .header-bottom nav > a:last-of-type {
    border-bottom: none;
} 

/* MAIN */
main{
    margin-top: 60px;
}
/* banner */
.banner{
    height: 606px;
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    background-color: #1B1426;
    background-image: url(../assets/imagens/banner-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.banner h1{
    font-family: titiliumweb-black;
    font-size: 40px;
    text-shadow: 0 0 7px #fd4255;
    
}
.banner .botao-sobre{
    width: 171px;
    height: 40px;

    font-family:titiliumweb-bold;
    font-size: 24px;
    color: black;
    text-decoration:none;

    display:flex ;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    background-color: #F9AA01;

}

/* botao */
.banner .botao-sobre .a {
    font-family: titiliumweb-bold;
    color: black;

}

/* SESSAO CARDS */
main .sessao-cards{
    width: 100%;
    height: 588px;
    background-color: #1B1426;

    display: flex;
    flex-direction: column;
   justify-content: space-evenly; 
    align-items: center;
}


/* SESSAO PROGRAMER */
.sessao-progamer{
    width: 100%;
     height: 1535px; 

    background-color: #F9AA01;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
}

.sessao-progamer .space-skills{
    display: flex;
    flex-direction: column;

}

.sessao-progamer hr{
    width: 204px;
    border: 1px solid #1B1426;
}

.sessao-progamer h3{
    font-family: titiliumweb-black; 
    color: #1B1426;

    padding-top: 20px ;
    padding-bottom: 20px;

}

.sessao-progamer .skill,
.sessao-progamer .skill{
    position: relative;
    padding-top: 64px;

}

.sessao-progamer .box-informativo1,
.sessao-progamer .box-informativo2{
    width: 231px;
    height: 300px;
    position: absolute;
    background-image: linear-gradient(to right bottom, rgba(122, 49, 236, .2), rgba(47, 7, 109, .8));
    backdrop-filter: blur(15px);
    border-radius: 8px;

    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sessao-progamer .box-informativo1{
    top: 30%;
    left: 79px;
}
.sessao-progamer .box-informativo2{
    top: 211px;
}


.sessao-progamer .box-informativo1 h3,
.sessao-progamer .box-informativo2 h3{
    font-family: titiliumweb-black; 
    font-size: 18px;
    color: #FFFFFF;
    text-shadow: 2px 2px #C6A5E5;
}

.sessao-progamer .box-informativo p{
    font-family:Quicksand; 
    font-size: 13px;
}

/* background fundo */
footer {
    padding-top: 60px;
    padding-bottom:30px;
    box-shadow: inset 0 30px 60px rgba(0, 0, 0, 1);
    background-image: url(../assets/imagens/backgroung_footer.png)

}
 footer #sobre{
    width:100%;
    height: 304px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }
 footer #sobre > img {
    width: 110px;
 } 

 footer #sobre p{
    font-family: Quicksand;
    font-weight: 400px;
    font-size: 14px;
 }

 footer #midias-sociais-footer{
    /* background-color: #F9AA01; */
    width: 100%;
    display: flex;
    justify-content: space-between;
 }

 footer .footer-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1530px;
 }

 footer .footer-top .titulos-footer h3{
    font-family:titiliumweb-black;
    font-size: 30px;

 }
 footer .footer-top .titulos-footer hr{
    border: 2px solid #F9AA01;
    width: 112px;
 }

 footer .footer-top .menu-footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
 }

 /* itens da lista */
 footer .footer-top .menu-footer li{
    list-style-type: none;
    width: 110px;
    margin-bottom: 20px;

 }

 footer .footer-top .menu-footer a{
    color: white;
    text-decoration: none;
    font-family: titiliumweb-bold;
    font-size: 16px;
 }

 footer .footer-top .menu-footer a:before{
    content: "\2015";
    margin-right: 10px;
    color: #F9AA01;
 }
 /* Contatos */
 footer .footer-top #contatos p{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
 }

 footer .footer-top #contatos p span{
    color: #F9AA01;
 }

 /* Newsletter */
    footer #newsletter input,
    footer #newsletter button{
        width: 100%;
        height: 40px;
        margin-top: 20px;
        border-radius: 8px;
    }
    footer #newsletter input{
        background-color: transparent;
        background-image: linear-gradient(to right bottom, rgba(239, 239, 239, .6), rgba(239, 239, 239, .1) );
        backdrop-filter: blur(6px);
        border: 1px solid white;
        color: white;
        padding: 5px 10px;
        font-family:titiliumweb-regular;
        font-size: 16px;
    }

    footer #newsletter input::placeholder {
        color: white;
    }

    footer #newsletter button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F9AA01;
        font-family:titiliumweb-bold;
        font-size: 16px;
    }

    #botao-voltar{ 
    position: relative;
    left: 273px;
    bottom: 20px;
    }
    .footer-end p{
        font-family:titiliumweb-regular;
        font-size: 16px;
        font-style: none;

        display: flex;
        justify-content: center;
        align-items: center;

    }
 

/* tablets >=768px*/
@media screen and (min-width: 768px){

}

/* Desktops >= 1200px*/
@media screen and (min-width: 1200px){


    .layout-grid .alinhamento-between-centro {
        width: 100%;
        max-width: 1200px;
        /* border: 3px dotted yellowgreen; */
    }

      /* HEADER  */
      header {
        position: static;
        height: 140px;
        margin-top: -10px;
    }

    /* Header Top */
    header .header-top {
        /* block é o valor default da maioria dos elementos */
        display: block;
        height: 50px;
        border-bottom: 2px solid #F9AA01;
    }

    header .header-top .contatos {
        width: 415px;
        display: flex;
        justify-content: space-between;

        font-family: Inter;
        font-size: 14px;
        font-weight: 400;

        /* border: 2px solid white; */
    }

    header .header-top .contatos>div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        /* border: 1px solid yellow; */
    }

    header .header-top .midias-sociais {
        width: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* border: 2px solid white; */
    }

    /* Esconde elementos desnecessários */
    header .menu-hamburger,
    header .menu-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .email,
    header .header-bottom nav .midias-sociais {
        display: none;
    }

    /* Header Bottom */
    header .header-bottom {
        height: 90px;
    }

    header .header-bottom img.logo {
        width: 200px;
    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 50px;
        padding: 0;
        flex-direction: row;
        align-items: center;
        /* background-color: red; */
    }

    header .header-bottom nav>a {
        border: none;
        font-size: 14px;
    }

    header .header-bottom nav>a:hover {
        background-color: transparent;
        color: #F9AA01;
    }

    header .header-bottom .menu-usuarios {
        position: static;
        flex-direction: row;
        justify-content: space-between;
        width: 120px;
        height: auto;
        background-color: transparent;
    }
   /* BANNER */
   .banner{
    height: 722px;
    /* imagem de fundo */
    background-image: url(../assets/imagens/Banner_background_1.png);
    background-size: cover;
    background-position: top;
   }

   .banner h1 {
    font-size: 80px;
   }

    /* MAIN */
    main {
        margin-top: 0;
    }

    /* sessao jogos */

    main .sessao-cards{
        height: 500px;
    }
    main .sessao-cards{
        flex-direction: row;
    }

    main .sessao-cards img {
        width: 556px;
    }


}


